body {
    margin: auto;
}

h1 {
    font-family: "Druk Wide Bold", sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    color: #2B2B2A;
}

h2 {
    font-family: "Druk Wide Bold", sans-serif;
    text-transform: uppercase;
    color: #2B2B2A;
    font-size: 40px;
}

h3 {
    font-family: "Bitter", sans-serif;
    font-size: 20px;
    color: #2B2B2A;
}

h4 {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #2B2B2A;
}

.heading {
    text-align: center;
    background-color:#EFFF70 ;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .heading h2 {
        font-size: 25px;
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.supportheader {
    font-family: Arial , "Nimbus Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: inline;
}

@media only screen and (max-width: 768px) {
    .hero h1 {
        font-size: 30px;
    }
}

.what-we-do {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    background-color:#F7F5F2;
}

.wedo {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
}

.image {
    filter: drop-shadow(-10px 10px 0px #392457);
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    padding: 30px;
}

#lucky {
    width: 400px;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .what-we-do {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }

    .what-we-do h2 {
        font-size: 25px;
    }
    
    .wedo {
        grid-column: 1;
        grid-row: 1;
    }
    
    .image {
        grid-row: 2;
        grid-column: 1;
    }
}

.logo {
    max-width: 50px;
    height: auto;
    grid-row: 1;
    grid-column: 1;
    justify-self: left;
    padding-left: 30px;
}

@media screen and (max-width: 600px) {
    .logo {
    padding-left: 5px;
    }
}

.hero {
    text-align: center;
    padding: 150px 150px;
    background-color:#EFFF70;
}

@media only screen and (max-width: 768px) {
    .hero {
        padding: 150px 10px 150px 10px;
    }
}


.contact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 50px;
    background-color:#F7F5F2;
    text-align: center;
}

#contact-pic {
    width: 200px;
    max-width: 100%;
    height: auto;
}

.ecard-lena {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}

.ecard-jesper {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

.ecard-martin {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
}

.ecard-sandra {
    grid-row: 1;
    grid-column: 4;
    justify-self: center;
}

.ecard a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #2B2B2A;
}

@media only screen and (max-width: 768px) {
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        background-color:#F7F5F2;
        text-align: center;
    }
    
    .ecard-lena {
        grid-row: 1;
        grid-column: 1;
        padding: 20px;
    }
    
    .ecard-jesper {
        grid-row: 2;
        grid-column: 1;
        padding: 20px;
    }
    
    .ecard-martin {
        grid-row: 3;
        grid-column: 1;
        padding: 20px;
    }
    
    .ecard-sandra {
        grid-row: 4;
        grid-column: 1;
        padding: 20px;
    }
    
    .ecard a {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #2B2B2A;
    }
}

.contact {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    background-color: #392457;
}

.contact-us {
    grid-row: 1;
    grid-column: 1;
    justify-self: left;
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
    color: #F7F5F2;
}

.contact h4 {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
    color: #F7F5F2;
    font-size: 14px;
    margin-bottom: -5px;
    display: inline-block;
}

.contact h2 {
    color: #F7F5F2
}

.contact h3 {
    color: #F7F5F2;
}

.contact img {
    display: inline-block;
    margin-bottom: -10px;
    margin-right: 10px;
}
.form {
    font-family: "Druk Wide Medium", sans-serif;
    text-transform: uppercase;
    line-height: 25px;
    font-size: 12px;
    color: #F7F5F2;
    grid-row: 1;
    grid-column: 2;
    padding: 50px;
}

input {
    background-color: #F7F5F2;
    height: 30px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2B2B2A;
    width: 100%;
    padding-left: 5px;
}

#comment {
    background-color: #F7F5F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2B2B2A;
    margin-bottom: 10px;
    height: 200px;
}

button.submit {
    width: 100%;
    height: 30px;
    display: block;
    margin: 0 auto;
    font-family: "Druk Wide Bold", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #2B2B2A;
    background-color: #EFFF70;
}

button.submit:hover {
    background-color: #F7F5F2;
}

#ttype {
    height: 30px;
    width: 100%;
    font-family: "Druk Wide Medium", sans-serif;
    font-size: 12px;
    color: #2B2B2A;
}

@media only screen and (max-width: 768px) {
    .contact {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
        background-color: #392457;
    }
    
    .contact-us {
        grid-row: 1;
        grid-column: 1;
        justify-self: left;
    }

    .form {
        font-family: "Druk Wide Medium", sans-serif;
        text-transform: uppercase;
        line-height: 25px;
        font-size: 12px;
        color: #F7F5F2;
        grid-row: 2;
        grid-column: 1;
        padding: 10px;
    }
    
    .contact h2 {
        font-size: 25px;
    }
}

.footer {
    background-color: #EFFF70;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer-first {
    grid-column: 1;
    grid-row: 1;
    font-size: 14px;
    justify-self: left;
    float: left;
}

.footer-second {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2B2B2A;
}

.footer-third {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
}

@media only screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer-first {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .footer-second {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
    }

    .footer-third {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
    }
}

.footer h1 {
    font-size: 14px;
}

.footer a {
    color:#2B2B2A;
}

.topnav a {
    padding: 26px 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: #2B2B2A;
    font-family: "Druk Wide Medium", sans-serif;
    font-size: 15px;

}

.topnav {
    justify-self: right;
    grid-column: 2;
    grid-row: 1;
  }

.topnav a:hover {
    background-color: #EFFF70;
}


  .hamburger .icon {
    display: none;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
  }

  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .hamburger a.icon {
      display: block;
      justify-self: center;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {
        justify-self: center;
        grid-column: 2;
        grid-row: 1;
    }
    .hamburger {
      right: 0;
      top: 0;
      grid-column: 3;
      grid-row: 1;
      justify-self: center;
    }

    .topnav.responsive a {
      display: block;
      text-align: left;
      padding: 10px 10px;
      font-size: 12px;
    }
  }

  .navbar {
      display: grid;
      grid-template-columns: 15% auto;
      align-items: center;
      background-color:#F7F5F2;
      padding: 10px 10px;
  }

  @media screen and (max-width: 600px) {
    .navbar  {
        grid-template-columns: 15% auto 15%;
    }
}
